#settings {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .v-sheet {
      --br: 5px;
      display: grid;
      background: rgb(var(--v-theme-tertiary-variant));
      border-radius: var(--br);
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      padding: 6px;
      max-width: 140px;

      .v-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        padding: 10px;
        border-radius: calc(var(--br) - 1px) !important;

        .v-img {
          background-color: rgb(var(--v-theme-tertiary));
          border-radius: 8px;

          &__img {
            padding: 12px;
          }
        }

        p {
          color: #333 !important;
          font-size: 12px;
        }
      }
    }
  }
}