@forward "./utils/variables";
@forward "./utils/fonts";
@forward "./utils/typography";
@forward "./utils/mixins";
@forward "./utils/helper-classes";
@forward "./utils/animations";
@forward "./utils/responsive";
@use "./utils/mixins";
@use "./utils/variables" as vars;


//===================================== global ======================================//

.tooltip {
  background-color: rgb(var(--v-theme-tertiary)) !important;
}

.token-logo {
  display: grid;
  place-items: center;
  border-radius: 50%;
  outline: 1px solid #000;
  padding: 5px;
}

.disable-title {
  .v-list-item-title { display: none !important }
}