@forward "./utils/variables";
@forward "./utils/fonts";
@forward "./utils/typography";
@forward "./utils/mixins";
@forward "./utils/helper-classes";
@forward "./utils/animations";
@forward "./utils/responsive";
@use "./utils/mixins";
@use "./utils/variables" as vars;


//===================================== global ======================================//

.tooltip {
  background-color: rgb(var(--v-theme-tertiary)) !important;
}

.token-logo {
  display: grid;
  place-items: center;
  border-radius: 50%;
  outline: 1px solid #000;
  padding: 5px;
}

.disable-title {
  .v-list-item-title { display: none !important }
}

.clear-pseudo-classes {
  &::before, &::after,
  ::before, ::after { display: none !important }
}

.clear-overlay {
  [class*=overlay],
  [class*=underlay] { display: none !important }
}

.v-pagination {
  max-width: 400px;
  width: max-content;
  @media (max-width: 390px) { width: 100% }
  margin-inline: auto;
  background: rgba(72, 38, 110, 1);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  button {
    color: #fff !important;
    height: 25px !important;
    font-size: 13px;
  }
}

.custom-checkbox {
  border-radius: 50% !important;
  border: 1px solid rgb(var(--v-theme-primary)) !important;
  width: var(--size, 20px) !important;
  height: var(--size, 20px) !important;

  &.active { background: rgb(var(--v-theme-primary)) !important }
}

.custom-select {
  width: max-content !important;

  i { color: rgb(var(--v-theme-primary)) !important }

  .v-field {
    padding-inline: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;

    &__input { padding-inline: 0 !important }
  }
}


.appened .v-field {
  padding-right: 0 !important;
}

.sheet-flexbar {
  display: flex !important;
  align-items: center;
  border-radius: 5px !important;
  background-color: #8564AB !important;
  box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.2);

  .v-btn {
    border-radius: 5px !important;
  }

  &__wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar { display: none !important }
  }
}
